.test{
   position: relative;
   display: block !important;
   width:100% !important;
   height:100% !important;
}
.test:before{
    content: " ";
    display: block;
    height: 90%;
    width: 90%;
    background: url(../assets/img/logs.png) no-repeat;
    background-size: 100%;
    position: absolute;
    left:50%;top:60%;
    transform:translate(-50%,-50%);
}
.test + .el-submenu__icon-arrow{
    color:transparent;
}

